**/datafiles
**/QC_HMP
**/calculus_QC
**/notes
**/Strep_mapping/data/ref_index
**/Strep_mapping/data/mapping
**/Strep_mapping/data/plots
**/Strep_mapping/data/tables
**/Strep_mapping/data/sample_info
**/Strep_mapping/logs
Strep_mapping/plots
Strep_mapping/tables
**/Strep_mapping
**/Kraken analysis 08-21
**/Submission folder
**/community_analysis_09-22
**/community_analysis_09-22/tax_pipeline
**/community_analysis_09-22/tax_pipeline_2
**/community_analysis_09-22/tax_pipeline_3
**/community_analysis_09-22/tax_pipeline_4
**/community_analysis_09-22/tax_pipeline_5
**/community_analysis_09-22/trashfiles
**/community_analysis_09-22/tax_pipeline_6
**/community_analysis_09-22/tax_pipeline_7
**/community_analysis_09-22/tax_pipeline_test
**/community_analysis_09-22/tax_pipeline_test2
**/community_analysis_09-22/plotnotespaper_files
ebame7/
Strep_Phylogenetics_09-21/data
**/Strep_mapping/stages/
**/misc_scripts/data/mutans_gene_cov
**/misc_scripts/plots/
notes/plots/
**/Strep_pangenome/data/read_assembly
**/Strep_pangenome/scr
**/Strep_anvio/data
**/Strep_anvio/logs
!Strep_anvio/data/sample_info
**.snakemake
**.Rhistory
**.RData
**/R-environment
**/Strep_Phylogenetics_09-21/fastani
**/Strep_Phylogenetics_09-21/data
**/Strep_Phylogenetics_05-23/sample_info
**/Strep_Phylogenetics_05-23/data
**/Strep_Phylogenetics_05-23/logs
**/Strep_Phylogenetics_05-23/tmp
**/Strep_Phylogenetics_05-23/PCA/data
**/Strep_Phylogenetics_05-23/PCA/sample_info
**/aMAW-taxonomy
**/WORKFLOW_TUTORIAL_DATA
**/anvio-dev
**/temp
**/Reference_mapping_v2/results
**/Reference_mapping_anc
**/remapping
**/fastANIdb/data
**/fastANIdb/fastani
important_snakefile
